body {
    background-color: #181926;
    color: #cad3f5;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 99.49%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

input[type=text] {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 40px;
    padding: 20px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 200px;
    font-size: 10px;
    background-color: #24273a;
    margin-bottom: 2%;
    margin-top: -10%;
    color: #cad3f5;
}

.main {
    display: block;
    margin: auto;
    width: fit-content;
    border: 4px solid #24273a;
}

.category {
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    text-align: center;
}

.link {
    display: block;
    color: #939ab7;
}

a {
    text-decoration: none;
}
